<div class="page-header wrap vertical-wrap">
    <h1>Search "{{route.snapshot.params.criteria}}"</h1>
</div>
<div class="page-header dark wrap">
    <app-search-bar></app-search-bar>
</div>
<div class="wrap vertical-wrap">
    <div class="recipe-container" *ngIf="results.hasOwnProperty('data') && results.data.length > 0">
        <div *ngFor="let recipe of results.data" class="recipe">
            <div class="card" [routerLink]="['/recipe', recipe._id]">
                <h5 class="card-header">{{recipe.title}}</h5>
                <div class="card-body">
                    {{recipe.desc}}
                </div>
                <div class="card-footer">
                    {{recipe.calories}} calories
                </div>
            </div>
        </div>
    </div>
    <div class="pagination" *ngIf="results.data && results.data.length > 0">
        <div class="page-item" [ngClass]="{'disabled': results.page === 1}">
            <div class="page-link" (click)="previous()">Previous</div>
        </div>
        <div class="page-item" *ngFor="let pg of pagination" [ngClass]="{'active': results.page === route.snapshot.params.page}">
            <div class="page-link" (click)="goToPage(route.snapshot.params.criteria, pg + 1)">
                {{pg + 1}}
            </div>
        </div>
        <div class="page-item" [ngClass]="{'disabled': results.page === results.pageCount}">
            <div class="page-link" (click)="next()">Next</div>
        </div>
    </div>
</div>
