@import '../../../app';
@import '../recipes.component';

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    user-select: none;
}
