@import '../../app';
@import '../recipes/recipes.component';

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../../assets/hero.jpg');
    background-position: center;
    background-size: cover;
    padding: 8rem 0;
    user-select: none;
    transition: padding $t-reg;

    @media screen {
        @media (min-width: $breakpoint-md) {
            padding: 12rem 0;
        }
        @media (min-width: $breakpoint-lg) {
            padding: 16rem 0;
        }
    }

    h1 {
        color: $white;
        margin-bottom: 2rem;
    }

    .search {
        display: flex;
        border-radius: 1rem;

        input {
            width: 100%;
            padding: 1rem;
            border: 1px solid $white;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            padding: 0 1.5rem;
            border-left: 1px solid $border;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            cursor: pointer;
            transition: background-color $t-fast;

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }

            &:hover {
                background-color: darken($white, 10%);
            }
        }
    }
}

.top-recipes {
    h1 {
        margin-bottom: 2rem;
    }
}
