@import '../../app';
@import '../recipes/recipes.component';

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../../assets/hero.jpg');
    background-position: center;
    background-size: cover;
    padding: 8rem 0;
    user-select: none;
    transition: padding $t-reg;

    @media screen {
        @media (min-width: $breakpoint-md) {
            padding: 12rem 0;
        }
        @media (min-width: $breakpoint-lg) {
            padding: 16rem 0;
        }
    }

    h1 {
        color: $white;
        margin-bottom: 2rem;
    }
}

.search-container {
    .search-invalid {
        color: $white !important;
    }
}

.top-recipes {
    h1 {
        margin-bottom: 2rem;
    }
}
