<div class="hero">
    <div class="wrap">
        <h1>Find your next meal.</h1>
        <app-search-bar></app-search-bar>
    </div>
</div>
<div class="wrap vertical-wrap top-recipes">
    <h1>This Week's Top Recipes</h1>
    <div class="recipe-container">
        <div *ngFor="let recipe of recipeService.top | async" class="recipe">
            <div class="card" [routerLink]="['/recipe', recipe._id]">
                <h5 class="card-header">{{recipe.title}}</h5>
                <div class="card-body">
                    {{recipe.desc}}
                </div>
                <div class="card-footer">
                    {{recipe.calories}} calories
                </div>
            </div>
        </div>
    </div>
</div>
