<div class="wrap vertical-wrap" *ngIf="recipe !== {}">
    <h1>{{recipe.title}}</h1>
    <p class="text-muted">{{recipe.desc}}</p>
    <div class="row">
        <div class="col">
            <h4>Ingredients</h4>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">
                    {{ingredient}}
                </li>
            </ul>
        </div>
        <div class="col">
            <h4>Directions</h4>
            <ol>
                <li *ngFor="let ingredient of recipe.directions">
                    {{ingredient}}
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Nutrition Info</h4>
            <div>Rating: {{recipe.rating}} / 5</div>
            <div>Calories: {{recipe.calories}}</div>
            <div>Fat: {{recipe.fat}}</div>
            <div>Sodium: {{recipe.sodium}}</div>
            <div>Protein: {{recipe.protein}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>Comments</h4>
            <div class="media" *ngFor="let comment of comments">
                <div class="media-body">

                </div>
            </div>
        </div>
    </div>
</div>
