// widths
$breakpoint-xs: 400px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1480px;
$breakpoint-xxl: 1920px;

// colors
$brand: #5248d7;
$white: #ffffff;
$black: #000000;
$border: #cccccc;
$dark: lighten($black, 10%);
$error: #cc3333;

// transition timings
$t-fast: 250ms;
$t-reg: 500ms;

// wrap
.wrap {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: padding $t-reg;

    @media screen {
        @media (min-width: $breakpoint-sm) {
            padding-left: 4rem;
            padding-right: 4rem;
        }
        @media (min-width: $breakpoint-md) {
            padding-left: 4rem;
            padding-right: 4rem;
        }
        @media (min-width: $breakpoint-lg) {
            padding-left: 8rem;
            padding-right: 8rem;
        }
        @media (min-width: $breakpoint-xl) {
            padding-left: 16rem;
            padding-right: 16rem;
        }
        @media (min-width: $breakpoint-xxl) {
            padding-left: 24rem;
            padding-right: 24rem;
        }
    }
}

.vertical-wrap {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transition: padding $t-reg;

    @media screen and (min-width: $breakpoint-md) {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

a {
    text-decoration: none;

    &:hover {
        color: lighten($brand, 5%);
    }
}

.btn {
    transition: background-color $t-fast;

    svg {
        fill: $white;
        width: 1rem;
        height: 1rem;
    }

    &.btn-rdb {
        background-color: $brand;
        color: $white;

        &:hover {
            background-color: darken($brand, 10%);
        }
    }
}

.page-header {
    background-color: darken($white, 10%);
    user-select: none;

    &.dark {
        background-color: darken($white, 15%);
    }

    h1, h4, p {
        margin-bottom: unset;
    }

    h4 {
        font-weight: normal;
    }
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;

    .recipe {
        width: 100%;
        padding: 1rem;

        .card {
            height: 100%;

            h5 {
                font-weight: bold;
            }
        }

        @media screen {
            @media (min-width: $breakpoint-md) {
                width: 50%;
            }
            @media (min-width: $breakpoint-xl) {
                width: calc(100% / 3);
            }
        }
    }
}
