@import '../../../app';

.recipe-header {
    .top-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        h1 {
            margin-bottom: unset;
        }

        .buttons {
            display: flex;
            flex-direction: row;

            button {
                margin-left: 1rem;
            }
        }
    }

    p {
        margin-bottom: unset;
    }
}

.recipe-nutrition {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .nutrition-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 2rem;
        transition: width $t-reg ease-out;

        svg {
            fill: darken($white, 75%);
            width: 3rem;
            height: 3rem;
        }

        .nutrition-title {
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 0.35rem;
            color: darken($white, 75%);
            opacity: 0.75;
            padding: 0.5rem 0 0;
        }

        .nutrition-value {
            color: darken($white, 75%);
            font-weight: bold;
        }
    }

    @media screen {
        @media (min-width: $breakpoint-sm) {
            flex-direction: row;

            .nutrition-item {
                width: 50%;
            }
        }
        @media (min-width: $breakpoint-md) {
            .nutrition-item {
                width: 25%;
            }
        }
    }
}

.comment-box {
    display: flex;
    flex-direction: column;

    textarea {
        width: 100%;
        min-height: 5rem;
        padding: 1rem;
        border: 1px solid $border;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
    }

    button {
        margin-left: auto;
    }
}

.comment {
    display: flex;
    flex-direction: column;

    .info {
        display: flex;
        justify-content: space-between;

        .name {
            font-weight: bold;
        }

        .date {
            opacity: 0.5;
        }
    }

    .body {

    }
}
