<div class="wrap vertical-wrap">
    <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="submit()">
        <h3>Login</h3>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" formControlName="username"/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" formControlName="password"/>
        </div>
        <button type="submit" class="btn btn-block btn-success">Login</button>
    </form>
</div>
