<div class="page-header wrap vertical-wrap">
    <h1>Settings</h1>
</div>

<div class="wrap vertical-wrap">
    <div class="account">
        <div class="menu list-group">
            <div
                class="list-group-item list-group-item-action"
                (click)="changePage('profile')"
                [ngClass]="activePage === 'profile' && 'active'"
            >
                Profile
            </div>
            <div
                class="list-group-item list-group-item-action"
                (click)="changePage('password')"
                [ngClass]="activePage === 'password' && 'active'"
            >
                Password
            </div>
        </div>
        <div class="content" [ngSwitch]="activePage">
            <div class="profile" *ngSwitchCase="'profile'">
                <h3>{{user.name}}</h3>
            </div>
            <div class="password" *ngSwitchCase="'password'">
                <form [formGroup]="passwordForm">
                    <div class="form-group">
                        <label for="old">Current Password</label>
                        <input
                            id="old"
                            type="password"
                            name="old"
                            class="form-control"
                            formControlName="old"
                            placeholder="Current password"
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input
                            id="password"
                            type="password"
                            name="password"
                            class="form-control"
                            formControlName="password"
                            placeholder="New password"
                        />
                    </div>
                    <div class="form-group">
                        <label for="confirm">Confirm New Password</label>
                        <input
                            id="confirm"
                            type="password"
                            name="confirm"
                            class="form-control"
                            formControlName="confirm"
                            placeholder="Confirm new password"
                        />
                    </div>
                    <button class="btn btn-rdb">Change</button>
                </form>
            </div>
        </div>
    </div>
</div>
