<div class="page-header wrap vertical-wrap">
    <h1>Search "{{route.snapshot.params.criteria}}"</h1>
</div>
<div class="page-header dark wrap">
    <app-search-bar></app-search-bar>
</div>
<div class="wrap vertical-wrap">
    <div class="text-center" *ngIf="results.data && results.data.length === 0">
        No results found for "{{route.snapshot.params.criteria}}", try searching for something else.
    </div>
    <div class="recipe-container" *ngIf="results.data && results.data.length > 0">
        <div *ngFor="let recipe of results.data" class="recipe">
            <div class="card" [routerLink]="['/recipe', recipe._id]">
                <h5 class="card-header">{{recipe.title}}</h5>
                <div class="card-body">
                    {{recipe.desc}}
                </div>
                <div class="card-footer">
                    {{recipe.calories}} calories
                </div>
            </div>
        </div>
    </div>
    <div class="pagination" *ngIf="results.data && results.data.length > 0">
        <pagination-controls (pageChange)="goToPage(route.snapshot.params.criteria, $event)"
                             class="pagination"></pagination-controls>
        <div>
            <div class="page-item" *ngFor="let item of results.data | paginate: {
              itemsPerPage:results.perPage,
              currentPage: results.page,
              totalItems: results.total
        }">
            </div>
        </div>
    </div>
</div>
