<div class="page-header wrap vertical-wrap">
    <h1>Search "{{route.snapshot.params.criteria}}"</h1>
</div>
<div class="page-header dark wrap">
    <app-search-bar></app-search-bar>
</div>
<div class="wrap vertical-wrap">
    <div class="recipe-container" *ngIf="results.hasOwnProperty('data') && results.data.length > 0">
        <div *ngFor="let recipe of results.data" class="recipe">
            <div class="card" [routerLink]="['/recipe', recipe._id]">
                <h5 class="card-header">{{recipe.title}}</h5>
                <div class="card-body">
                    {{recipe.desc}}
                </div>
                <div class="card-footer">
                    {{recipe.calories}} calories
                </div>
            </div>
        </div>
    </div>
    <div class="pagination" *ngIf="results.data && results.data.length > 0">
        <div class="page-item" [ngClass]="{'disabled': results.page === 1}">
            <div class="page-link" (click)="previous()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                    <path
                        d="M192 127.338v257.324c0 17.818-21.543 26.741-34.142 14.142L29.196 270.142c-7.81-7.81-7.81-20.474 0-28.284l128.662-128.662c12.599-12.6 34.142-3.676 34.142 14.142z"/>
                </svg>
            </div>
        </div>
        <div class="page-item" *ngFor="let pg of pagination"
             [ngClass]="{'active': results.page === pg + 1}">
            <div class="page-link" (click)="goToPage(route.snapshot.params.criteria, pg + 1)">
                {{pg + 1}}
            </div>
        </div>
        <div class="page-item" [ngClass]="{'disabled': results.page === results.pageCount}">
            <div class="page-link" (click)="next()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                    <path
                        d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"/>
                </svg>
            </div>
        </div>
    </div>
</div>
