@import '../../app';

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;

    .recipe {
        width: 100%;
        padding: 1rem;

        .card {
            height: 100%;
        }

        @media screen {
            @media (min-width: $breakpoint-md) {
                width: 50%;
            }
            @media (min-width: $breakpoint-xl) {
                width: calc(100% / 3);
            }
        }
    }
}
